.button {
    width: 100%;
    padding: 16px 49px;
    font-weight: 700;
    background-color: $color-yeloow;
    border: none;
    border-radius: 40px;

    &__title {
        font-size: 28px;
        line-height: 20px;
    }

    &__description {
        font-size: 16px;
        line-height: 0;
    }
}