.description {
    list-style: none;

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        text-align: left;
        font-size: 20px;

        .green {
            border-bottom: 3px solid $color-green;
        }

        .red {
            border-bottom: 3px solid $color-orange;
        }
        
        

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__number { 
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: center;
	    align-content: stretch;
        width: 48px;
        height: 48px;
        margin-right: 18px;
        font-size: 20px;
        font-weight: 700;
        color: $color-white;
        background-color: $color-green;
        border: 8px solid $color-lime;
        border-radius: 50%;
    }

    &__point {
        padding: 20px;
    }
}