
.icon-save {
  background-image: url('../img/save.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.forma1 {
  background-image: url('../img/Forma1 (1).svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.forma2 {
  background-image: url('../img/Forma1 (2).svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.shape1 {
  background-image: url('../img/Shape1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shape2 {
  background-image: url('../img/man-img.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rectagle {
  background-image: url('../img/Rectangle 21 copy.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.name-img {
  background-image: url('../img/name.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.phonr-img {
  background-image: url('../img/phone.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


