// Variables

//colors
$color-white: #fff;
$color-dark: #797a7a;
$color-green: #a7c93d;
$color-lime: #e8edc9;
$color-orange: #ff6b00;
$color-light: #e9f1fa;
$color-laggon: #becbd8;
$color-yeloow: #ffcb02;
$color-pink: #f4d3bb;

//fonts
$roboto-font: 'Roboto', sans-serif; 